/* Utilities */

:root{
    --bg: #0F0E17;
    --link: #35A7B4;
    --title: #E53170;
    --text: #FEFEFD;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* general*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 90%;
    margin: auto;
}

/* header */

#site_header{
    text-align: center;
}

header>h1{
    color: var(--title);
    padding-bottom: 3rem;
    padding-top: 2rem;
}

header>p{
    font-weight: bold;
    padding-bottom: 2rem;
}

/*main*/

img{
    float: left;
    width: 30%;
    margin-right: 20px;
}

.col{
    background-color:var(--bg);
    color: white;
    width: calc(100% / 3 );
    float: left;
    width: 300px;
    margin: 20px;
}

div>p{
    margin-top: 10px;
    color: var(--text);
}

.mail{
    color: var(--link);
}