/* Utilities */

:root{
    --bg: #0F0E17;
    --link: #35A7B4;
    --title: #E53170;
    --text: #FEFEFD;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* general*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner{
    width: 80%;
    margin: auto;

}

/* header */

#site_header{
    text-align: center;
}

header>h1{
    font-family: 'Bree Serif', serif;
    color: var(--title);
    padding-bottom: 3rem;
    padding-top: 2rem;
}

header>p{
    font-weight: bold;
    padding-bottom: 2rem;
}

/*main*/

img{
    float:left;
    margin-right: 10px;
    width: 100px;
}

.col{
    width: calc((100% / 3) - 60px);
    background-color:var(--bg);
    box-shadow: 0 0 10px rgb(34, 34, 34);
    float: left;
    margin: 20px;
}

div>p{
    margin-top: 10px;   
    color: var(--text);
}

.mail{
    color: var(--link);
}
